.auth_box{
    background:rgba(29, 144, 230, 0.38);
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    .auth_title{
        font-size:38px;
        text-align: center;
        color:#f00;
        margin-top:200px;
        text-shadow: 0px 0px 2px #FF0000;
        letter-spacing: 0.1em;
    }
    .auth_form{
        width:410px;
        margin:20px auto;
        ul{
            li{
                float: left;
                display: flex;
                img{
                    width:80px;
                    height:40px;
                    cursor:pointer;
                }
                a{
                    cursor:pointer;
                }
            }
        }
        .authCode{
            width:170px;
            margin-right: 5px;
        }
        button{
            width:100%;
            
        }
    }
}